:root{
  --headingFont: "Poppins";
  --bodyFont: "Muli";
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body:{
  overflow-y: hidden;
}

.noPadding{
  padding: 0;
}
.backgroundPic{
  width: 100%;
  height: 100vh;
  filter: brightness(40%);
  background-repeat: round;
  background-size: contain;
  background-image: url("images/signUpBackground.png");
  opacity: 0.8;
}

.logoFormat{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  text-align: center;
}

.logoProperties{
  width: 250px;
  height: 65px;
}

.signUpBox{
  margin-left: 10%;
  margin-right: 10%;
  height: 70vh;
  border: solid 2px black;
}

.signUpTitle{
  text-align: center;
  font-family: "BebasNeueRegular";
  font-size: 40px;
}

.webcamImage{
  text-align: center;
  margin: auto;
  border: solid black;
  border-radius: 100%;
  width: 225px;
  height: 225px;
  background-image:url();
}

.webcamBtn{
  margin-top: 170px;
  width: 50px;
  height: 50px;
  border: solid 5px black;
  border-radius: 100%;
  background-color: white;
  outline: none;
}

.webcamBtn:hover{
  border-color: grey;
}

#snapshots {
  height: 120px;
  margin: 0.5em 0;
  padding: 3px;

  border: 1px solid #aaa;

  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#snapshots canvas, #snapshots img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  height: 100%;
  margin-left: 3px;
  border: 3px solid transparent;
}

#snapshots .selected {
  border: 3px solid #000;
}

.signUpInput{
  font-family: var(--headingFont);
  height: 25px;
  margin-top: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px black;
  text-align: center;
  outline: none;
  border-radius: 10px;
}

.signUpInputFormat{
  margin-top: 2%;
  text-align: center;
}

.submitBtn{
  margin-top: 5%;
}

.centa{
  text-align: center;
}
.centaa {
  margin: auto;
  width: 225px;
  height: 225px;
}

#camera {
  width: 225px;
  height: 225px;
}

.circleCamera {
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 225px;
  height: 225px;
  background-image: url("/images/circle.png");
}

#camera .placeholder {
  padding: 0.5em;
}
