:root{
  --headingFont: "Poppins";
  --bodyFont: "Muli";
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow-y: hidden;
}

.noPadding{
  padding: 0;
}

.logoFormat{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  text-align: center;
}

.logoProperties{
  width: 250px;
  height: 65px;
}

.loginTitle{
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
  font-family: "BebasNeueRegular";
  color: #a9d18e;
  font-size: 40px;
}

.webcamImage{
  margin: auto;
  border: solid black;
  border-radius: 100%;
  width: 225px;
  height: 225px;
  background-image:url();
}

.webcamBtn{
  position:absolute;
  margin-left: 31.5%;
  bottom: 43%;
  width: 50px;
  height: 50px;
  border: solid 5px grey;
  border-radius: 100%;
  background-color: white;
  outline: none;
}

.webcamBtn:hover{
  border-color: black;
}

.loginInput{
  font-family: var(--headingFont);
  width: 18%;
  height: 40px;
  margin-top: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px black;
  text-align: center;
  outline: none;
  border-radius: 10px;
}

.submitBtn{
  margin-top: 1%;
}

.centa{
  text-align: center;
}

.loginCam{
  background-color: white;
  margin: auto;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: solid 2px white;
}

.optionText{
  margin: auto;
  margin-top: 1%;
  background-repeat:no-repeat;
  width: 300px;
  height: 45px;
  background-image:url("../images/optionLine.PNG");
}

.centa{
  text-align: center;
}
.centaa {
  margin: auto;
}
